<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Страница администратора</title>
</head>
<body>
<h2>Пользователи</h2>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Пароль</th>
        <th>Почта</th>
        <th>Роли</th>
        <th>Операции</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <ul>
                <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{/admin/editUser(id=${user.id})}">Редактировать</a>
            <a th:href="@{/admin/deleteUser(id=${user.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a th:href="@{/admin/addUser}">Добавить пользователя</a>
<br/>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>